@model blog.Models.myBlog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>myBlog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blogTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blogTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blogDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blogDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blogDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blogDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isPublished)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.blogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
