@model IEnumerable<blog.Models.myBlog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.blogTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.blogDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.blogDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isPublished)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.blogTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.blogDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.blogDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPublished)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.blogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.blogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.blogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
